<div class='show_content'>

<span class='show_address_title'>
  Address:
</span>

<span class='show_price'>
  <%= @flat.price %>
</span>

<div class='show_address'>
  country: <%= @flat.country %>,
  city: <%= @flat.city %>,
  street: <%= @flat.street %>,
  house: <%= @flat.home_number %>,
  flat: <%= @flat.flat_number %>
</div>

<p>

<span class='show_description_title'>
  Description:
</span>

<div class='show_description'>
  <%= @flat.description %>
</div>

<% if @flat.images %>
  <% @flat.images.each do |image| %>
    <%= image_tag image.photo.url(:thumb) %>
  <% end %>
<% end %>

<p>

<div class='show_links'>
  <%= link_to '<< back', :back %>
  <%= link_to 'book >>', new_message_path(:flat_id => @flat) %>
</div>

</div>
